.root{
    height: 100vh;
    background: rgba(0,0,0,0.3);
    overflow: hidden;
    opacity: .3;
    text-align: center;
}
.root .wrapper{
    height: 50vh;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    transform: translateY(50vh);
}